/* Paperlogy 폰트 정의 */
@font-face {
    font-family: 'Paperlogy';
    src: url('Paperlogy-1Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('Paperlogy-2ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('Paperlogy-3Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('Paperlogy-4Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('Paperlogy-5Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('Paperlogy-6SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font
